body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: gray;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.sidebar a:hover {
  background: #555;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}
/*About*/
.about-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about-img {
  width: 50%;
  max-width: 300px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.about-text {
  width: 300px;
  padding-left: 50px;
  font-size: 20px;
}

/*projects*/
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.project-img {
  max-width: 150px;
}

.caption {
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
  color: black;
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  width: 400px;
  margin: 20px;
}

/*Contact*/

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #555;
}
